/* .login{ */
    /* background-image: url('logo.jpg'); */
  /* } */
  
  .container{
    background-image: url("C:\Users\JASMEEN BANO\OneDrive\Desktop\project-fullstack\frontend\src\imagefile\login-bg-1 (1).svg");
    height: 400px;
    

   
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
 
  }
  .btn{
    margin-left: 80px;
    margin-top: 30px;
    

  }
  .logo{
    /* background-image: url("../public/Logo.svg"); */
    width: 100px;
  }

  .main-user{
    
/* margin-top: 300px; */
/* position: fixed; */
    padding: 20px; 
    
   background-color: aliceblue; 
    
    height: 300px;
    width: 300px;
     
   
       /* margin-top: 400px;   */
    
    border: 1px solid black;
    
    /* justify-content: center;  */
    
   
  }
  .main1{
    /* margin: 200px; */
      /* margin-top: 400px;  */
    /* margin-right: auto; */
     /* margin-bottom: 500px;  */
     /* background-color: aliceblue;  */
  }
  .form{
    /* margin: 5px;
    padding: 5px; */
    /* display: flex; */
    /* justify-content: center;
    text-align: center;
    margin-top: 400px; */
     
    
  }